/* 
    Document   : farm
    Created on : 18.10.2013., 19:26:30
    Author     : Gale
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.task-information{
	display:none;
}
.user-nav .big{
	font-weight: bolder;
	border-left:1px solid green;
	padding:5px;

}
.loginform{
	margin-left:35px;
	margin-top:50px;
	padding:20px;
	width:400px;
	border:1px solid #EEE;
	border-radius: 20px;
}
.home{
	margin-top:50px;
	text-align: center;
}
.home .user-nav{	
	display:inline;	
}
.home .big{
	font-size: x-large;
}
.home .row{
	display:inline;
}
.home .latestTasks{
	padding-top: 50px;

}
.home .latestTasks li{
	list-style-type: none;
}
.task{
	padding-bottom:15px;
	margin-left:20px;
	margin-top:10px;
	border-radius:8px;
	border-bottom:1px solid #EEE;
}
.task .task-deadline{
	color:#999;
	font-size: smaller;
}
.tiny{
	font-size:12px;
	color:#888;
}
.hover{
	color: #0088cc;
	text-decoration: underline;
}
.task-title{
	font-size:24px;
}
.task-deadline{
	font-weight: bold;
}
.pagetitle{
	margin-left:35px;
}
